
/*Landing Page*/
#landing-page {
  background-color: #282c34;
  display: flex;

}

/*Map Container*/


/*Button Container*/
#button-container {
  width: 40vw;
}

#button-container {
  background-color: aquamarine;
  padding: 2vh;
}

/*Counter*/
#counter {
  background: blueviolet;
}